@font-face {
    font-family: 'Muller';
    src: url('MullerMedium.eot');
    src: local('Muller Medium'), local('MullerMedium'),
        url('MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('MullerMedium.woff2') format('woff2'),
        url('MullerMedium.woff') format('woff'),
        url('MullerMedium.ttf') format('truetype'),
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('MullerLight.eot');
    src: local('Muller Light'), local('MullerLight'),
        url('MullerLight.eot?#iefix') format('embedded-opentype'),
        url('MullerLight.woff2') format('woff2'),
        url('MullerLight.woff') format('woff'),
        url('MullerLight.ttf') format('truetype'),
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('MullerBold.eot');
    src: local('Muller Bold'), local('MullerBold'),
        url('MullerBold.eot?#iefix') format('embedded-opentype'),
        url('MullerBold.woff2') format('woff2'),
        url('MullerBold.woff') format('woff'),
        url('MullerBold.ttf') format('truetype'),
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerExtraBold.eot');
    src: local('Muller ExtraBold'), local('MullerExtraBold'),
        url('MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBold.woff2') format('woff2'),
        url('MullerExtraBold.woff') format('woff'),
        url('MullerExtraBold.ttf') format('truetype'),
    font-weight: 800;
    font-style: normal;
}

.bg_log{
    background: #831dbf;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  transform: translate(-50%, -55%);
}
.login .login_form{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.label {
  text-align: center;
  font-family: Muller;
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input {
  font-family: Muller;
  font-weight: bold;
  height: 23px;
  padding: 10px;
  border: 0.125rem solid rgb(204, 204, 204);
  outline: none;
  border-radius: 4px;
}

 
/*Button*/
.form button {
  font-family: Muller;
  font-weight: bold;
  width: 100%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #831dbf;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.form button:hover {
  background-color: #6d44b8;
}